# code quality and testing extensions
# typing_extensions==4.8.0 # do we need this?
pandas==3.0.1
polars==1.39.3
xlsxwriter==3.2.9
pytest
pytest-gremlins
pytest-xdist
pytest-mock==3.15.*
pytest-dependency==0.6.*
pyinstrument==5.1.*
isort==8.0.*
black==26.3.*
pylint==4.0.*
mypy==1.19.*
cryptography==46.0.6
oauthlib==3.3.1
coverage==7.13.5


# stubs
pandas-stubs==3.0.*
openpyxl==3.1.*
types-cachetools==6.2.*
types-PyYAML==6.0.*
types-setuptools==82.0.*
types-python-dateutil==2.9.*

# TODO: remove if run.py no longer uses it
uvicorn==0.42.0