# code quality and testing extensions
# typing_extensions==4.8.0 # do we need this?
pandas==2.3.3
polars==1.35.2
xlsxwriter==3.2.9
pytest
pytest-cov==7.0.*
pytest-mock==3.15.*
pytest-dependency==0.6.*
pyinstrument==5.1.*
isort==7.0.*
black==25.12.*
pylint==4.0.*
mypy==1.18.*
black==25.12.*
cryptography==46.0.3
oauthlib==3.3.1

# stubs
pandas-stubs==2.3.*
openpyxl==3.1.*
types-cachetools==6.2.*

# TODO: remove if run.py no longer uses it
uvicorn==0.38.0