# code quality and testing extensions
# typing_extensions==4.8.0 # do we need this?
pytest==8.4.*
pytest-cov==6.0.*
pytest-mock==3.14.*
pytest-dependency==0.6.*
pyinstrument==5.1.*
isort==5.13.*
black==24.10.*
pylint==3.3.*
mypy==1.17.*
cryptography==43.0.3

# stubs
pandas-stubs==2.3.*
openpyxl==3.1.*
types-cachetools==5.5.*
types-python-jose==3.5.*

# NCBI Taxonomy parsing
# ete4==4.0.0b2
