# python 3.13

# application server
fastapi[standard]==0.116.2
gunicorn==23.0.*
starlette==0.48.0
httpx==0.28.1
python-jose==3.5.0

#database handling
sqlalchemy==2.0.43
sqlalchemy_utils==0.42.0

# Data models/handling
pydantic==2.11.7
ulid-py==1.1.0

# configuration handling
fire==0.7.1
dynaconf==3.2.11
PyYAML==6.0.3
types-setuptools==80.9.*

# calculation
scipy==1.16.2
numpy==2.3.3
biopython==1.85

# other
cachetools==6.2.0
slowapi==0.1.9
python-dateutil==2.9.*
